div(layout="column")
  div#socialfeeds(layout-gt-sm="row")
    .gallery-wall(flex="")
      md-content(flex="", layout="column", layout-align="center", style="height: 69vh;")
        md-content.tweets-wall(layout="column", flex="", layout-wrap="", layout-padding ="", layout-margin ="", style="display: block;")
          md-tabs(md-dynamic-height='', md-border-bottom='')
            md-tab(label='twitter')
              md-content.md-padding(layout-gt-sm="row", flex="", layout-wrap="", layout-align="center center")
                md-card(ng-repeat='tweet in wallController.tweets | limitTo: 50', flex-gt-sm="30")
                  .media
                    img.media-figure(ng-src='{{tweet.user.profile_image_url}}')
                    p.media-body
                      | {{tweet.text}}

            md-tab(label='instagram')
              md-content.md-padding(layout-gt-sm="row", flex="", layout-wrap="", layout-align="center center")
                .instagram-pic(ng-repeat='instagram in wallController.instagrams | limitTo: 300', flex-gt-sm="30")
                    a(href='{{instagram.link}}', target='_blank')
                      img.img-responsive(ng-src='{{instagram.images.standard_resolution.url}}')

            md-tab(label='facebook')
              md-content.md-padding
                h1.md-display-2 facebook
                p

            md-tab(label='youtube')
              md-content.md-padding
                h1.md-display-2 youtube
                p


  div#participantes.bg-yellow(layout="column", layout-align="center center")
    h1 Participantes
    md-content(layout="row", layout-wrap="", layout-align="center center")
      div(ng-repeat="(key, prop) in mainController.participants")
        div(ng-switch="", on="mainController.participants[key].github ? 'github' : 'twitter' ")
          a(ng-switch-when="twitter", target='_blank', ng-href='http://twitter.com/{{mainController.participants[key].twitter}}')
            img(ng-src='https://twitter.com/{{mainController.participants[key].twitter}}/profile_image?size=original', height='120px', width='120px', alt='')
          a(ng-switch-when="github", target='_blank', ng-href='http://github.com/{{mainController.participants[key].github}}')
            img(ng-src='https://avatars.githubusercontent.com/{{mainController.participants[key].github}}?s=120', height='120px', width='120px', alt='')

  div#patrocinadores(layout="column", layout-align="center center")
    p
      | No podríamos tener eventos Nodeschool aquí en Costa Rica sin la ayuda de estupendos patrocinadores:
    .row
      .col-md-12.centered
        h2 Patrocinadores Platinum
        img.img.img-sponsors(src='http://nodeschool.io/costarica/images/sponsors/gorilla-logic.png')
        img.img.img-sponsors(src='http://nodeschool.io/costarica/images/sponsors/edify.png')
    .row
      .col-md-12
        .col-md-6.centered
          h2 Patrocinadores Oro
          img.img.img-sponsors(src='http://nodeschool.io/costarica/images/sponsors/gap.png')
          img.img.img-sponsors(src='http://nodeschool.io/costarica/images/sponsors/avantica.png')
        .col-md-6.centered
          h2 Patrocinadores Plata
          img.img.img-sponsors(src='http://nodeschool.io/costarica/images/sponsors/outer-space-coders.png')
          img.img.img-sponsors(src='http://nodeschool.io/costarica/images/sponsors/la404.png')
          img.img.img-sponsors(src='http://nodeschool.io/costarica/images/sponsors/18techs.png')
          img.img.img-sponsors(src='http://nodeschool.io/costarica/images/sponsors/salsamobi.png')
          img.img.img-sponsors(src='http://nodeschool.io/costarica/images/sponsors/brainstation.png')

  .bg-yellow
    .container
      section.row.white.questions
        .col-md-12
          br
          h3 Nodeschool Costa Rica
          p
            | Nodeschool Costa Rica es parte del esfuerzo global para enseñar voluntariamente Node.js y JavaScript a todos a través de talleres presenciales utilizando módulos interactivos que te ayudan a aprender o mejorar, escribiendo código y resolviendo problemas con la ayuda de mentores.
          p
            | Más información en&nbsp;
            a(target='_blank', href='http://nodeschool.io/costarica') nodeschool.io/costarica
          script(async='', defer='', src='http://slack.costaricajs.co/slackin.js?large')
        p.copy(style='font-size:10px; text-align:right; margin:0; padding-right:40px; padding-bottom:10px;')
          | desarrollado por&nbsp;
          a(target='_blank', href='http://rubenabix.com', alt='Rubén Abarca: Javascript Developer') Rubén Abarca
          | &nbsp;y&nbsp;
          a(target='_blank', href='http://gaboesquivel.com', alt='Gabo Esquivel: Javascript Developer') Gabo Esquivel
          | . © 2016 CostaRicaJS


    // div(flex="5")
        //br
        //h4
        //  //b key {{key}} value {{value.name}}
        //  b {{mainController.participants[key].name}}
        //p(layout="row", layout-align="center center")
        //  a(ng-if="mainController.participants[key].website", target='_blank', ng-href='{{mainController.participants[key].website}}')
        //    ng-md-icon(icon="create", size="24", style="fill: #337ab7")
        //  a(ng-if="mainController.participants[key].twitter", target='_blank', ng-href='http://twitter.com/{{mainController.participants[key].twitter}}')
        //    ng-md-icon(icon="twitter", size="24", style="fill: #337ab7")
        //  a(ng-if="mainController.participants[key].github", target='_blank', ng-href='http://github.com/{{mainController.participants[key].github}}')
        //    ng-md-icon(icon="github-circle", size="24", style="fill: #337ab7")
        //br
        //br
