head
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
  style.
    .ng-hide {
      display: none !important;
    }

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

  //- injectBowerCSS:css
  link(rel="stylesheet", href="../../../../../../bower_components/angular-material/angular-material.css", inline="")
  link(rel="stylesheet", href="../../../../../../bower_components/angular-material-icons/angular-material-icons.css", inline="")
  link(rel="stylesheet", href="../../../../../../bower_components/components-font-awesome/css/font-awesome.css", inline="")
  //- endinject

  //- injectAppCSS:css
  link(rel="stylesheet", href="../../../assets/styles/animate.css", inline="")
  link(rel="stylesheet", href="../../../assets/styles/fonts.css", inline="")
  link(rel="stylesheet", href="../../../assets/styles/global.styles.css", inline="")
  link(rel="stylesheet", href="../../../assets/styles/hacks.styles.css", inline="")
  //- endinject
