//- injectBowerLibs:js
script(src='../../../../../../bower_components/angular/angular.js', inline="")
script(src='../../../../../../bower_components/angular-animate/angular-animate.js', inline="")
script(src='../../../../../../bower_components/angular-aria/angular-aria.js', inline="")
script(src='../../../../../../bower_components/angular-messages/angular-messages.js', inline="")
script(src='../../../../../../bower_components/socket.io-client/socket.io.js', inline="")
script(src='../../../../../../bower_components/angular-material/angular-material.js', inline="")
script(src='../../../../../../bower_components/angular-material-icons/angular-material-icons.js', inline="")
script(src='../../../../../../bower_components/angular-ui-router/release/angular-ui-router.js', inline="")
script(src='../../../../../../bower_components/svg-morpheus/compile/minified/svg-morpheus.js', inline="")
script(src='../../../../../../bower_components/lodash/lodash.js', inline="")
//- endinject

//- injectAppCode:js
script(src='app/features/social/social.module.js', inline="")
script(src='app/features/social/states.js', inline="")
script(src='app/features/social/services.js', inline="")
script(src='app/features/social/controllers.js', inline="")
script(src='app/features/social/constants.js', inline="")
script(src='app/app.template-cache.js', inline="")
script(src='app/app.module.js', inline="")
script(src='app/app.states.js', inline="")
script(src='app/app.services.js', inline="")
script(src='app/app.run.js', inline="")
script(src='app/app.controllers.js', inline="")
script(src='app/app.config.js', inline="")
//- endinject
