<md-toolbar layout="row" ng-show="::mainController.isReady" ng-cloak="">
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="mainController.toggleSidenav('left')" hide-gt-sm="">
      <md-icon class="primary-icon" aria-label="Menu" md-svg-icon="navigation:ic_menu_24px"></md-icon>
    </md-button>
    <h1 class="md-title">{{::mainController.title}}</h1>
    <div layout="row" flex="" layout-align="end center">
      <md-menu layout="row" flex="" layout-align="end center" md-position-mode="target-right target" hide-gt-sm="">
        <md-button class="md-icon-button top-button" aria-label="Open settings menu" ng-click="$mdOpenMenu()">
          <md-icon md-menu-origin="" md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
        </md-button>
        <md-menu-content width="3" ng-click="">
          <md-menu-item>
            <md-button class="md-primary" ng-click="mainController.showLoginForm($event)">
              <div layout="row">
                <p flex="">Ingresar&#160;</p>
                <md-icon md-menu-origin="" md-svg-icon="editor:ic_insert_emoticon_24px"></md-icon>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
    <div layout="row" layout-sm="column" flex="" layout-align="end center" hide-xs="" hide-sm="">
      <md-button class="md-primary md-raised md-hue-2" ng-click="mainController.showLoginForm($event)">Ingresar
      </md-button>
    </div>
  </div>
</md-toolbar>
